{% extends 'site/base.html' %} {% load static %} {% block content %}

<div class="search_page">
  <div class="search_field">
    <img src="{% static 'img/search_icon.png' %}" alt="search" />
    <input id="seachInput" type="text" placeholder="Enter Keywords" />
  </div>

  <div id="normalLayout">
    <div class="next_btn">
      <img id="nextBtn" src="{% static 'img/next_btn.png' %}" alt="next_btn" />
    </div>
    <div class="categories_sec">
      <div
        class="category_card"
        onclick="window.location = '{% url 'comingSoon' %}'"
      >
        <img src="{% static 'img/food_icon.png' %}" alt="food_icon" />
        <span>Spanish food</span>
      </div>
      <div
        class="category_card"
        onclick="window.location = '{% url 'comingSoon' %}'"
      >
        <img src="{% static 'img/music_icon.png' %}" alt="music_icon" />
        <span>Pop music</span>
      </div>
      <div
        class="category_card"
        onclick="window.location = '{% url 'comingSoon' %}'"
      >
        <img src="{% static 'img/paint_icon.png' %}" alt="paint_icon" />
        <span>Abstract art</span>
      </div>
      <div
        class="category_card"
        onclick="window.location = '{% url 'comingSoon' %}'"
      >
        <img src="{% static 'img/plant_icon.png' %}" alt="plant_icon" />
        <span>Planting</span>
      </div>
    </div>
    <div class="popular_sec">
      <h2>POPULAR</h2>
      <div class="popular_content">
        <div
          class="popular_card"
          onclick="window.location = '{% url 'comingSoon' %}'"
        >
          <span>Grow Aloe vera </span>
        </div>

        <div
          class="popular_card"
          onclick="window.location = '{% url 'comingSoon' %}'"
        >
          <span>Guitar basics </span>
        </div>

        <div
          class="popular_card"
          onclick="window.location = '{% url 'comingSoon' %}'"
        >
          <span>Trending paint brush </span>
        </div>
      </div>
    </div>
  </div>

  <div id="searchLayout" style="display: none; margin-top: 65px">
    <div id="posts"></div>
    <p id="noPosts" style="text-align: center; display: none">
      No Posts Available
    </p>

    <div id="loader">
      <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>Loading...</div>
    </div>

    <div class="controls">
      <div class="control_buttons">
        <div id="viewPrevBtn" class="view_more_btn">
          <button>View Prev</button>
        </div>
        <div id="viewMoreBtn" class="view_more_btn">
          <button>View More</button>
        </div>
      </div>
      <p id="page">Page <span id="pageNum">1</span></p>
    </div>
  </div>
</div>

<script>
  let allLoadedPosts = [];
  let previousLastLoadedPostID = "",
    lastLoadedPostID = "";
  let pageNumber = {{ pageNumber }};

  let pageFromCall = 0;

  let currentAjaxReq;

  $("#nextBtn").click(() => {
    window.location.href = "{% url 'home' %}";
  });

  function loadSearchResults(searchTerm, direction) {
    $("#noPosts").hide();
    $("#posts").hide();
    $("#page").hide();
    $("#loader").show();

    if (currentAjaxReq != null) {
      currentAjaxReq.abort();
    }

    pageNumber += direction == "next" ? 1 : -1;

    data = {
      type: "load",
      searchTerm: searchTerm,
      pageNumber: pageNumber,
      csrfmiddlewaretoken: "{{ csrf_token }}",
    };

    currentAjaxReq = $.ajax({
      type: "POST",
      url: "{% url 'browse' %}",
      data: data,
      success: (response) => {
        if (response.searchTerm == searchTerm) {
          if (response.posts.length > 0) {
            if (response.posts.length < parseInt(response.loadLimit)) {
              $("#viewMoreBtn").hide();
            } else {
              $("#posts").html("");
            }

            if (allLoadedPosts.length == parseInt(response.loadLimit)) {
              $("#posts").html("");
            }

            if (
              allLoadedPosts.length > 0 &&
              allLoadedPosts[0]["id"] == response.posts[0]["id"]
            ) {
              $("#viewMoreBtn").hide();
            }

            $("#posts").show();

            if (direction == "previous") {
              $("#viewMoreBtn").css("display", "flex");
            }

            if (!response.hasNext) {
              $("#viewMoreBtn").hide();
            }

            pageFromCall = parseInt(response.pageNum);
            $("#page").show();
            $("#pageNum").html(response.pageNumForView);

            if (pageFromCall == 0) {
              $("#viewPrevBtn").hide();
            } else {
              $("#viewPrevBtn").css("display", "flex");
            }

            allLoadedPosts = [];
            response.posts.forEach((post) => {
              allLoadedPosts.push(post);
              createPostElement(post);
            });
          } else {
            $("#viewMoreBtn").hide();

            if (pageNumber == 0 && allLoadedPosts.length == 0) {
              $("#noPosts").show();
            } else {
              $("#posts").show();
              $("#page").show();
            }
          }
          $("#loader").hide();
        }
      },
      error: (xhr, errmsg, err) => {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      },
    });
  }

  function likePost(postID, isLike) {
    $.ajax({
      type: "POST",
      url: "{% url 'home' %}",
      data: {
        type: "like",
        postID: postID,
        isLike: isLike,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: (response) => {
        if (response.result == "success") {
          $(
            "[name='like_" +
              postID +
              "'] > span:first-child, #selectedPostActionAndComments [name='like_" +
              postID +
              "'] > span:first-child"
          )
            .toggleClass("far")
            .toggleClass("fas");
          $(
            "[name='like_" +
              postID +
              "'] > span:first-child, #selectedPostActionAndComments [name='like_" +
              postID +
              "'] > span:first-child"
          ).css("color", isLike ? "#D7443E" : "black");
          $(
            "[name='like_" +
              postID +
              "'] > span:last-child, #selectedPostActionAndComments [name='like_" +
              postID +
              "'] > span:last-child"
          ).html(response.likes + " like" + (response.likes != 1 ? "s" : ""));
        }
      },
      error: (xhr, errmsg, err) => {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      },
    });
  }

  function addNewComment(postID, message) {
    let comment = document.createElement("div");
    comment.classList.add("comment");
    comment.innerHTML =
      "<img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><div class='comment_content'><span>You</span><span>" +
      message +
      "</span><span class='comment_action'>24h</span><span class='comment_action'>Reply</span></div>";
    document.getElementById("comments_" + postID).appendChild(comment);
    $("#selectedPostActionAndComments #comments_" + postID).append(
      $("#comments_" + postID + " > div:last-child").get(0).outerHTML
    );
  }

  function commentOnPost(postID, comment) {
    $.ajax({
      type: "POST",
      url: "{% url 'home' %}",
      data: {
        type: "comment",
        postID: postID,
        comment: comment,
        timestamp: new Date().getTime(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: (response) => {
        if (response.result == "success") {
          addNewComment(postID, comment);
          $(
            "#comments_count_" +
              postID +
              " > span:last-child, #selectedPostActionAndComments #comments_count_" +
              postID +
              " > span:last-child"
          ).html(
            response.comments +
              " comment" +
              (response.comments != 1 ? "s" : "") +
              "</span>"
          );
          $(
            "#comment_inp_" +
              postID +
              ", #selectedPostActionAndComments #comment_inp_" +
              postID
          ).val("");
        }
      },
      error: (xhr, errmsg, err) => {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      },
    });
  }

  function savePost(postID, categoryID, isSave) {
    $.ajax({
      type: "POST",
      url: "{% url 'home' %}",
      data: {
        type: "save",
        isSave: isSave,
        postID: postID,
        categoryID: categoryID,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: (response) => {
        if (response.result == "success") {
          $(
            "[name='save_" +
              postID +
              "'] > span, #selectedPostActionAndComments [name='save_" +
              postID +
              "'] > span"
          )
            .toggleClass("far")
            .toggleClass("fas");
        }
      },
      error: (xhr, errmsg, err) => {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      },
    });
  }

  function createPostElement(postMap) {
    let post = document.createElement("div");
    post.setAttribute("id", "post_" + postMap["id"]);
    post.classList.add("post");

    let postContainer = document.createElement("div");
    postContainer.classList.add("post_container");

    let postHeader = document.createElement("div");
    postHeader.classList.add("post_header");
    postHeader.innerHTML =
      "<div name='category_" +
      postMap["category"]["id"] +
      "'><img src='" +
      postMap["category"]["imgURL"] +
      "' alt='icon' onload=\"setCategoryIconBackground('" +
      postMap["category"]["id"] +
      "','" +
      postMap["category"]["color"] +
      "')\" /></div><span>" +
      postMap["name"] +
      "</span>";
    postContainer.appendChild(postHeader);

    let postContent = document.createElement("div");
    postContent.setAttribute("id", "postContent_" + postMap["id"]);
    postContent.classList.add("post_content");
    console.log(postMap["type"]);
    if (postMap["type"].indexOf("img") >= 0 || (postMap["type"] == "article" && postMap["link"] != "")) {
      postContent.innerHTML =
        "<img src='" +
        postMap["link"] +
        "' class='post_content_image' alt='post_img' onerror='$(this).hide()' />";
    } else if (postMap["type"].indexOf("vid") >= 0) {
      postContent.innerHTML =
        "<video src='" +
        postMap["link"] +
        "#t=0.5' class='post_content_video' preload='metadata' />";
    } else if (postMap["type"] == "article") {
      console.log("WTH");
      postContent.innerHTML =
        "<img src='{% static 'img/article.png' %}' class='post_article_placeholder_image' alt='post_img' onerror='$(this).hide()' />";
    }


    if (postMap["type"].toLowerCase().indexOf("txt") >= 0) {
      let text = postMap["text"];

      postContent.innerHTML +=
        "<span style='color: " +
        (postMap["link"] == "" ? "black" : "transparent") +
        "'>" +
        text +
        "</span>";
    }
    postContainer.appendChild(postContent);

    let postAction = document.createElement("div");
    postAction.classList.add("post_action");
    let likeBtn = document.createElement("div");
    likeBtn.classList.add("post_action_item");
    likeBtn.setAttribute("name", "like_" + postMap["id"]);
    likeBtn.innerHTML =
      "<span class='" +
      (postMap["isLiked"] ? "fas" : "far") +
      " fa-heart' style='" +
      (postMap["isLiked"] ? "color: #D7443E" : "") +
      "'></span><span>" +
      postMap["likes"] +
      " like" +
      (postMap["likes"] != 1 ? "s" : "") +
      "</span>";

    postAction.appendChild(likeBtn);

    postAction.innerHTML +=
      "<div id='comments_count_" +
      postMap["id"] +
      "' class='post_action_item'><span class='far fa-comment'></span><span>" +
      postMap["comments"] +
      " comment" +
      (postMap["comments"] != 1 ? "s" : "") +
      "</span></div>";

    let saveBtn = document.createElement("div");
    saveBtn.classList.add("post_action_item");
    saveBtn.setAttribute("name", "save_" + postMap["id"]);
    saveBtn.setAttribute("data-category-id", postMap["category"]["id"]);
    saveBtn.innerHTML =
      "<span class='" +
      (postMap["isSaved"] ? "fas" : "far") +
      " fa-bookmark'></span>";
    postAction.appendChild(saveBtn);

    postContainer.appendChild(postAction);

    let commentSection = document.createElement("div");
    commentSection.classList.add("comment_sec");

    let likes = document.createElement("div");
    likes.classList.add("likes");
    likes.innerHTML =
      "<div class='user_pic'><img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /></div><span>" +
      postMap["likeStr"] +
      "</span>";
    commentSection.appendChild(likes);

    let comments = document.createElement("div");
    comments.setAttribute("id", "comments_" + postMap["id"]);
    comments.classList.add("comments");
    postMap["allComments"].forEach((commentMap) => {
      let comment = document.createElement("div");
      comment.classList.add("comment");
      comment.innerHTML =
        "<img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><div class='comment_content'><span>" +
        commentMap["username"] +
        "</span><span>" +
        commentMap["comment"] +
        "</span><span class='comment_action'>24h</span><span class='comment_action'>Reply</span></div>";
      comments.appendChild(comment);
    });
    commentSection.appendChild(comments);
    postContainer.appendChild(commentSection);

    let commentInput = document.createElement("div");
    commentInput.classList.add("comment_input");
    commentInput.innerHTML =
      "<img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><input id='comment_inp_" +
      postMap["id"] +
      "' type='text' " +
      ("{{ isLoggedIn }}" != "True" ? "disabled" : "") +
      " placeholder='" +
      ("{{ isLoggedIn }}" == "True"
        ? "Enter your comment..."
        : "Login to comment...") +
      "' />" +
      ("{{ isLoggedIn }}" == "True"
        ? "<button class='postBtn_" + postMap["id"] + "' >Post</button>"
        : "");
    postContainer.appendChild(commentInput);

    post.appendChild(postContainer);

    posts.appendChild(post);

    $("#postContent_" + postMap["id"]).click((e) => {
      console.log(postMap);
      $("#loadedPage").hide();
      $("#selectedPost").show();

      $("#selectedPostTitle").html(postMap["name"]);

      if (postMap["type"].indexOf("img") >= 0 || (postMap["type"] == "article" && postMap["link"] != "")) {
      postContent.innerHTML =
        "<img src='" +
        postMap["link"] +
        "' class='post_content_image' alt='post_img' onerror='$(this).hide()' />";
      } else if (postMap["type"].indexOf("vid") >= 0) {
        $("#selectedPostContent").append(
          '<video id="postImageOrVideo" src="' +
            postMap["link"] +
            '" controls ></video>'
        );
      }

      if (
        postMap["type"].toLowerCase().indexOf("txt") >= 0 ||
        postMap["type"] == "article"
      ) {
        $("#selectedPostContent").append(
          "<pre style='white-space: normal'>" + postMap["text"] + "</pre>"
        );
      }

      $("#selectedPostActionAndComments").append(
        $("#post_" + postMap["id"] + " > div > .post_action").get(0).outerHTML
      );
      $("#selectedPostActionAndComments").append(
        $("#post_" + postMap["id"] + " > div > .comment_sec").get(0).outerHTML
      );
      $("#selectedPostActionAndComments").append(
        $("#post_" + postMap["id"] + " > div > .comment_input").get(0).outerHTML
      );

      if ("{{ isLoggedIn }}" == "True") {
        $(
          "#selectedPostActionAndComments [name='like_" + postMap["id"] + "']"
        ).click((e) => {
          postID = $(e.target)
            .closest(".post_action_item")
            .attr("name")
            .replace("like_", "");

          likePost(
            postID,
            $(
              "#selectedPostActionAndComments [name='like_" +
                postID +
                "'] > span:first-child"
            ).hasClass("far")
          );
        });

        $("#selectedPostActionAndComments .postBtn_" + postMap["id"]).click(
          (e) => {
            postID = $(e.target).attr("class").replace("postBtn_", "");
            commentInp = $(
              "#selectedPostActionAndComments #comment_inp_" + postID
            ).val();
            commentOnPost(postID, commentInp);
          }
        );

        $(
          "#selectedPostActionAndComments [name='save_" + postMap["id"] + "']"
        ).click((e) => {
          postID = $(e.target)
            .closest(".post_action_item")
            .attr("name")
            .replace("save_", "");
          categoryID = $(e.target)
            .closest(".post_action_item")
            .attr("data-category-id");
          savePost(
            postID,
            categoryID,
            $(
              "#selectedPostActionAndComments [name='save_" +
                postID +
                "'] > span"
            ).hasClass("far")
          );
        });
      }
    });

    if ("{{ isLoggedIn }}" == "True") {
      $("[name='like_" + postMap["id"] + "']").click((e) => {
        postID = $(e.target)
          .closest(".post_action_item")
          .attr("name")
          .replace("like_", "");

        likePost(
          postID,
          $("[name='like_" + postID + "'] > span:first-child").hasClass("far")
        );
      });

      $(".postBtn_" + postMap["id"]).click((e) => {
        postID = $(e.target).attr("class").replace("postBtn_", "");
        commentInp = $("#comment_inp_" + postID).val();
        commentOnPost(postID, commentInp);
      });

      $("[name='save_" + postMap["id"] + "']").click((e) => {
        postID = $(e.target)
          .closest(".post_action_item")
          .attr("name")
          .replace("save_", "");
        categoryID = $(e.target)
          .closest(".post_action_item")
          .attr("data-category-id");
        savePost(
          postID,
          categoryID,
          $("[name='save_" + postID + "'] > span").hasClass("far")
        );
      });
    }

    return post;
  }

  $("#seachInput").on("keyup", (e) => {
    searchTerm = $(e.target).val();
    if (searchTerm.length == 0) {
      $("#searchLayout").hide();
      $("#normalLayout").show();
    } else {
      $("#normalLayout").hide();

      $("#posts").html("");
      pageNumber = -1;
      pageFromCall = 0;
      allLoadedPosts = [];
      loadSearchResults(searchTerm, "next");

      $("#searchLayout").show();
      $("#viewMoreBtn").show();
    }
  });

  $("#viewPrevBtn").click(() => {
    if ($("#loader").css("display") == "none") {
      window.location.href = "{% url 'home' 123456 %}".replace(/123456/, pageNumber - 1);
      loadSearchResults($("#seachInput").val(), "previous");
    }
  });

  $("#viewMoreBtn").click(() => {
    if ($("#loader").css("display") == "none") {
      loadSearchResults($("#seachInput").val(), "next");
    }
  });
</script>

{% endblock %}
