{% extends 'site/base.html' %} {% load static %} {% block content %}

<style>
  .home_page_container {
    height: calc(100% - 70px);
    display: grid;
    grid-template-rows: 1fr auto;
  }
</style>

<div class="home_page_container">
  <div class="home_page">
    <div
      class="search_field"
      style="
        width: 25.6vw;
        height: 2.73vw;
        align-self: flex-end;
        margin-right: 6.3vw;
      "
    >
      <img src="{% static 'img/search_icon_gray.png' %}" alt="search" />
      <input id="searchInp" type="text" placeholder="Enter Keywords"/>
    </div>

    <div class="ad">AD BANNER</div>

    <div id="posts"></div>
    <p id="noPosts" style="text-align:center; display: none;">No Posts Available</p>

    <div id="loader">
      <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>        
      <div>Loading...</div>
    </div>  

    <div class="controls">
      <div class="control_buttons">
        <div id="viewPrevBtn" class="view_more_btn">
          <button>View Prev</button>
        </div>
        <div id="viewMoreBtn" class="view_more_btn">
          <button>View More</button>
        </div>
      </div>
      <p id="page">Page <span id="pageNum">1</span></p>
    </div>            
  </div>

  {% include 'site/partials/_footer.html' %}
</div>

<script>
  const posts = document.getElementById("posts");

  let allLoadedPosts = [];
  let previousLastLoadedPostID = "", lastLoadedPostID = "";
  let pageNumber = 0;

  $("#searchInp").click(() => {
    window.location.href = "{% url 'browse' %}";
  });

  function loadPosts(direction) {
    $("#posts").hide();
    $("#page").hide();
    $("#loader").show();       

    data = {
      type: "load",
      direction: direction,
      previousLastLoadedPostID: allLoadedPosts.length > 0 ? allLoadedPosts[0]["id"] : "",
      lastLoadedPost:
        allLoadedPosts.length > 0 && direction == "next"
          ? allLoadedPosts[allLoadedPosts.length - 1]["id"]
          : "",
      csrfmiddlewaretoken: "{{ csrf_token }}",
    };

    $.ajax({
      type: "POST",
      url: "{% url 'home' %}",
      data: data,
      success: (response) => {        
        if(response.posts.length > 0) {
          if(response.posts.length < 10) {
            $("#viewMoreBtn").hide();  
          } else {
            $("#posts").html("");
          }
          
          $("#posts").show();          

          if (direction == "previous") {
            $("#viewMoreBtn").css("display", "flex"); 
          }
          
          pageNumber += direction == "next" ? 1 : -1;
          $("#page").show();
          $("#pageNum").html(pageNumber);

          if(pageNumber == 1) {
            $("#viewPrevBtn").hide();
          } else {
            $("#viewPrevBtn").css("display", "flex");
          }

          allLoadedPosts = []
          response.posts.forEach((post) => {
            allLoadedPosts.push(post);
            createPostElement(post);
          });       
        } else {
          $("#viewMoreBtn").hide();
          
          if(pageNumber == 1 && allLoadedPosts.length == 0) {
            $("#noPosts").show();
          } else {
            $("#posts").show(); 
            $("#page").show();
          }
        }
        $("#loader").hide();
      },
      error: (xhr, errmsg, err) => {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      },
    });
  }

  function likePost(postID, isLike) {
    $.ajax({
      type: "POST",
      url: "{% url 'home' %}",
      data: {
        type: "like",
        postID: postID,
        isLike: isLike,
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      success: (response) => {
        if(response.result == "success") {
          $("[name='like_" + postID + "'] > span:first-child").toggleClass("far").toggleClass("fas");
          $("[name='like_" + postID + "'] > span:first-child").css("color", isLike ? "#D7443E" : "black");          
          $("[name='like_" + postID + "'] > span:last-child").html(response.likes + " like" + (response.likes != 1 ? "s" : ""));          
        }
      },
      error: (xhr, errmsg, err) => {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      },
    });
  }

  function addNewComment(postID, message){
    let comment = document.createElement("div");
    comment.classList.add("comment");
    comment.innerHTML =
      "<img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><div class='comment_content'><span>You</span><span>" +
      message +
      "</span><span class='comment_action'>24h</span><span class='comment_action'>Reply</span></div>";
    document.getElementById("comments_" + postID).appendChild(comment);
  }

  function commentOnPost(postID, comment) {
    $.ajax({
      type: "POST",
      url: "{% url 'home' %}",
      data: {
        type: "comment",
        postID: postID,
        comment: comment,
        timestamp : (new Date()).getTime(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: (response) => {
        if(response.result == "success") {
          addNewComment(postID, comment);
          $("#comments_count_" + postID + " > span:last-child").html(response.comments + " comment" + (response.comments != 1 ? "s" : "") + "</span>");
          $("#comment_inp_" + postID).val("");
        }
      },
      error: (xhr, errmsg, err) => {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      },
    });
  }

  function savePost(postID, categoryID, isSave) {
    $.ajax({
      type: "POST",
      url: "{% url 'home' %}",
      data: {
        type: "save",
        isSave: isSave,
        postID: postID,
        categoryID: categoryID,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: (response) => {
        if(response.result == "success") {
          $("#save_" + postID + " > span").toggleClass("far").toggleClass("fas");
        }
      },
      error: (xhr, errmsg, err) => {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      },
    });
  }

  function createPostElement(postMap) {
    let post = document.createElement("div");
    post.classList.add("post");

    let postContainer = document.createElement("div");
    postContainer.classList.add("post_container");

    let postHeader = document.createElement("div");
    postHeader.classList.add("post_header");
    postHeader.innerHTML ="<div name='category_" + postMap["category"]["id"] + "'><img src='" + postMap["category"]["imgURL"] +"' alt='icon' onload=\"setCategoryIconBackground('" + postMap["category"]["id"] + "','" + postMap["category"]["color"] + "')\" /></div><span>" + postMap["name"] + "</span>";
    postContainer.appendChild(postHeader);

    let postContent = document.createElement("div");
    postContent.classList.add("post_content");
    if (postMap["type"].indexOf("img") >= 0) {
      postContent.innerHTML =
        "<img src='" +
        postMap["link"] +
        "' class='post_content_image' alt='post_img' onerror='$(this).hide()' />";
    } else if (postMap["type"].indexOf("vid") >= 0) {
      postContent.innerHTML =
        "<video src='" +
        postMap["link"] +
        "#t=0.5' class='post_content_video' preload='metadata' />";
    }
    if (postMap["type"].toLowerCase().indexOf("txt") >= 0) {
      postContent.innerHTML +=
        "<span style='color: " +
        (postMap["link"] == "" ? "black" : "white") +
        "'>" +
        postMap["text"] +
        "</span>";
    }
    postContainer.appendChild(postContent);

    let postAction = document.createElement("div");
    postAction.classList.add("post_action");
    let likeBtn = document.createElement("div");
    likeBtn.classList.add("post_action_item");  
    likeBtn.setAttribute("name", "like_" + postMap["id"]);
    likeBtn.innerHTML = "<span class='" + (postMap["isLiked"] ? "fas" : "far") + " fa-heart' style='" + (postMap["isLiked"] ? "color: #D7443E" : "") + "'></span><span>" + postMap["likes"] + " like" + (postMap["likes"] != 1 ? "s" : "") + "</span>";        
    
    postAction.appendChild(likeBtn);    

    postAction.innerHTML +=
      "<div id='comments_count_" + postMap["id"] + "' class='post_action_item'><span class='far fa-comment'></span><span>" +
      postMap["comments"] +
      " comment" + (postMap["comments"] != 1 ? "s" : "") + "</span></div>";

    let saveBtn = document.createElement("div");
    saveBtn.classList.add("post_action_item");
    saveBtn.setAttribute("id", "save_" + postMap["id"]);  
    saveBtn.setAttribute("data-category-id", postMap["category"]["id"]);
    saveBtn.innerHTML = "<span class='" + (postMap["isSaved"] ? "fas" : "far") + " fa-bookmark'></span>";
    postAction.appendChild(saveBtn);

    postContainer.appendChild(postAction);

    let commentSection = document.createElement("div");
    commentSection.classList.add("comment_sec");

    let likes = document.createElement("div");
    likes.classList.add("likes");
    likes.innerHTML =
      "<div class='user_pic'><img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /></div><span>" + postMap["likeStr"] + "</span>";
    commentSection.appendChild(likes);

    let comments = document.createElement("div");
    comments.setAttribute("id", "comments_" + postMap["id"]);
    comments.classList.add("comments");
    postMap["allComments"].forEach((commentMap) => {
      let comment = document.createElement("div");
      comment.classList.add("comment");
      comment.innerHTML =
        "<img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><div class='comment_content'><span>" +
        commentMap["username"] +
        "</span><span>" +
        commentMap["comment"] +
        "</span><span class='comment_action'>24h</span><span class='comment_action'>Reply</span></div>";
      comments.appendChild(comment);
    });
    commentSection.appendChild(comments);
    postContainer.appendChild(commentSection);

    if("{{ isLoggedIn }}" == "True") {
      let commentInput = document.createElement("div");
      commentInput.classList.add("comment_input");
      commentInput.innerHTML =
        "<img src=\"{% static 'img/user_avatar.png' %}\" alt='user' /><input id='comment_inp_" + postMap["id"] + "' type='text' placeholder='Comment as Britney Alei…….' /><button id='post_" + postMap["id"] + "' >Post</button>";
      postContainer.appendChild(commentInput);
    }


    post.appendChild(postContainer);

    posts.appendChild(post);    

    if("{{ isLoggedIn }}" == "True") {
      $("[name='like_" + postMap["id"] + "']").click((e) => {
        postID = $(e.target).closest(".post_action_item").attr("name").replace("like_", "");
        
        likePost(postID, $("[name='like_" + postID + "'] > span:first-child").hasClass("far"));
      });    
      
      $("#post_" + postMap["id"]).click((e) => {
        postID = $(e.target).attr("id").replace("post_", "");
        commentInp = $("#comment_inp_" + postID).val();
        commentOnPost(postID, commentInp);      
      });    

      $("#save_" + postMap["id"]).click((e) => {
        postID = $(e.target).closest(".post_action_item").attr("id").replace("save_", "");
        categoryID = $(e.target).closest(".post_action_item").attr("data-category-id");
        savePost(postID, categoryID, $("#save_" + postID + " > span").hasClass("far"));      
      }); 
    }

    return post;
  }
  
  loadPosts("next");

  $("#viewPrevBtn").click(() => {    
    if($("#loader").css("display") == "none") {
      loadPosts("previous");
    }
  });

  $("#viewMoreBtn").click(() => {
    if($("#loader").css("display") == "none") {
      loadPosts("next");
    }
  });

</script>

{% endblock %}
