* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
  outline: none;
  font-family: "titilliumregular";
}

body,
html {
  height: 100%;
}

#main {
  height: 100%;
  display: grid;
  grid-template-columns: 22% auto;
}

#side_menu_container {
  width: 100%;
  height: 100%;
  padding: 30px;
}

#side_menu {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  height: 100%;
  position: fixed;
}

#menu_brand {
  margin-left: 25px;
  width: 90px;
}

.menu_container {
  margin-top: 50px;
}

.menu_container > div {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.menu_item {
  font-size: 15px;
  color: #a4a1a1;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.menu_icon {
  width: 20px;
  margin-right: 25px;
}

#header {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 60% 40%;
}
.dashboard_name {
  font-size: 30px;
}

#dashboard_sec {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header_subtxt {
  color: #a4a1a1;
  margin-top: 5px;
}

.header_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.profile_sec {
  display: flex;
  align-items: center;
  height: 100%;
}

.profile_detail {
  margin-left: 8px;
}

.profile_name {
  font-weight: bold;
}

.profile_email {
  font-size: 12px;
  color: #a4a1a1;
}

.header_icons {
  margin: 10px;
  color: #a4a1a1;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

#categorySelect {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 18px;
}

.center_vertical {
  display: flex;
  align-items: center;
}
