{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/site.css' %}" />
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/loader.css' %}" />

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/0ac512d244.js"
      crossorigin="anonymous"
    ></script>

    <script>
      function setCategoryIconBackground(categoryID, color) {
        $('[name="category_' + categoryID + '"').css(
          "background",
          "" + color + ""
        );
      }

      function setInterestIconBackground(interestID, color) {
        $('[name="interest_' + interestID + '"').css(
          "background",
          "" + color + ""
        );
      }

      function timeSince(date) {
        var seconds = Math.floor((new Date() - date) / 1000);

        var interval = seconds / 31536000;

        if (interval > 1) {
          return Math.floor(interval) + "Y";
        }
        interval = seconds / 2592000;
        if (interval > 1) {
          return Math.floor(interval) + "M";
        }
        interval = seconds / 86400;
        if (interval > 1) {
          return Math.floor(interval) + "d";
        }
        interval = seconds / 3600;
        if (interval > 1) {
          return Math.floor(interval) + "hr";
        }
        interval = seconds / 60;
        if (interval > 1) {
          return Math.floor(interval) + "m";
        }
        return Math.floor(seconds) + "s";
      }
    </script>
  </head>
  <body>
    <div id="postCommentDeletionConfirmationModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal_title">
          <p>{% if lang == 'en'%}{{ staticTextMap.comment_deletion_confirmation_heading_en }}{% else %}{{ staticTextMap.comment_deletion_confirmation_heading_fa }}{% endif %}</p>
          <span
            id="postCommentDeletionConfirmationModalClose"
            class="close"
            onclick="$('#postCommentDeletionConfirmationModal').hide();"
            ><img src="{% static 'img/delete_circle.png' %}"
          /></span>
        </div>
        <div class="container">
          <p class="modal-message" {% if lang != 'en' %}style="direction: rtl;"{% endif %}>
            {% if lang == 'en'%}{{ staticTextMap.comment_deletion_confirmation_message_en }}{% else %}{{ staticTextMap.comment_deletion_confirmation_message_fa }}{% endif %}
          </p>

          <div class="button_grid">
            <button
              id="cancelCommentDeletionBtn"
              onclick="$('#postCommentDeletionConfirmationModal').hide();"
            >
              {% if lang == 'en' %}{{ staticTextMap.comment_deletion_confirmation_option_no_en }}{% else %}{{ staticTextMap.comment_deletion_confirmation_option_no_fa }}{% endif %}
            </button>
            <button id="confirmCommentDeletionBtn" class="modal_button">
              {% if lang == 'en' %}{{ staticTextMap.comment_deletion_confirmation_option_yes_en }}{% else %}{{ staticTextMap.comment_deletion_confirmation_option_yes_fa }}{% endif %}
            </button>
          </div>
        </div>
      </div>
    </div>

    {% include 'site/partials/_header.html' %}

    <div id="loadedPage">{% block content %} {% endblock %}</div>
  </body>
</html>
