{% load static %}

<footer>
  <div>
    <img src="/static/img/global2.png" alt="logo" style="height: 35px" />
    <div class="footer_links">
      <a href="https://www.facebook.com/IranTop5"
        ><img src="{% static 'site/img/facebook_icon.png' %}" alt="facebook"
      /></a>
      <a href="https://twitter.com/Irantop51"
        ><img src="{% static 'site/img/twitter_icon.png' %}" alt="twitter"
      /></a>
      <a href="#"
        ><img src="{% static 'site/img/linked_in_icon.png' %}" alt="linkedin"
      /></a>
      <a href="https://www.instagram.com/iran_top5">
        <img
          src="{% static 'site/img/instagram_icon.png' %}"
          width="16"
          alt="linkedin"
        />
      </a>
    </div>
    <div></div>
  </div>
  <div><p>{% if lang == 'en' %}{{ staticTextMap.footer_copyright_en }}{% else %}{{ staticTextMap.footer_copyright_fa }}{% endif %}</p></div>
</footer>
