{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/categoryDash.css' %}" />
  </head>
  <body>
    <div id="category_dashboard">
      <div class="post_sec">
        <textarea
          name="food_post"
          id="postTxtArea"
          cols="30"
          rows="10"
          placeholder="Post here..."
        ></textarea>
        <div id="uploadOptionsBtns" class="post_sec_icons">
          <form
            id="imgUploadForm"
            method="post"
            enctype="multipart/form-data"
            style="display: none"
          >
            {% csrf_token %}<input type="file" accept="image/*" />
          </form>
          <div id="uploadImgBtn" class="post_sec_icon">
            <img src="{% static 'img/photo_icon.png' %}" alt="photo_icon" />
            <span>Photo</span>
          </div>
          <form
            id="vidUploadForm"
            method="post"
            enctype="multipart/form-data"
            style="display: none"
          >
            {% csrf_token %}<input type="file" accept="video/*" />
          </form>
          <div id="uploadVidBtn" class="post_sec_icon">
            <img src="{% static 'img/video_icon.png' %}" alt="vid_icon" />
            <span>Video</span>
          </div>
        </div>
        <div id="uploadPreview" style="display: none">
          <div id="imgPreview" style="display: none; position: relative">
            <div
              style="
                width: 25%;
                height: 100%;
                display: inline-block;
                position: absolute;
              "
            >
              <span id="removeSelectedImage">
                <img src="{% static 'img/delete_circle.png' %}" />
              </span>
            </div>
            <img id="uploadedImgPreview" width="25%" />
          </div>
          <div id="vidPreview" style="display: none; position: relative">
            <div
              style="
                width: 25%;
                height: 100%;
                position: absolute;
                display: flex;
                justify-content: flex-end;
                z-index: 2;
              "
            >
              <span id="removeSelectedVideo">
                <img src="{% static 'img/delete_circle.png' %}" />
              </span>
            </div>
            <video id="uploadedVidPreview" width="25%%" preload="metadata" />
          </div>
        </div>
        <div id="saveBtn">SAVE</div>
      </div>
      <div class="search_sec">
        <input
          type="text"
          name="search"
          class="search_input"
          placeholder="Search"
          id="search"
        />
        {% comment %}
        <div class="search_result">
          <span>Show Result</span>
          <span class="result_count">5</span>
        </div>
        {% endcomment %}
      </div>
      <div class="items_sec">
        <div class="item">
          <div class="item_content">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <span class="item_date">8:00 pm<br />27 March,2020</span>
          <div class="item_icons">
            <img src="{% static 'img/edit_icon.png' %}" alt="edit" />
            <img src="{% static 'img/del_icon.png' %}" alt="delete" />
          </div>
        </div>
        <div class="item">
          <div class="item_content">
            <img src="{% static 'img/item_vid_icon.png' %}" alt="vid" />
            <img src="{% static 'img/item_vid_icon.png' %}" alt="vid" />
          </div>
          <span class="item_date">8:00 pm<br />27 March,2020</span>
          <div class="item_icons">
            <img src="{% static 'img/edit_icon.png' %}" alt="edit" />
            <img src="{% static 'img/del_icon.png' %}" alt="delete" />
          </div>
        </div>
        <div class="item">
          <div class="item_content">
            <img src="{% static 'img/item_photo_icon.png' %}" alt="vid" />
          </div>
          <span class="item_date">8:00 pm<br />27 March,2020</span>
          <div class="item_icons">
            <img src="{% static 'img/edit_icon.png' %}" alt="edit" />
            <img src="{% static 'img/del_icon.png' %}" alt="delete" />
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/firebaseInit.js' %}"></script>
    <script>
      $(document).ready(() => {
        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";

        let selectedPostForEdit = "";

        let selectedImgOrVid;
        let isSelectedImg = false;
        let storageRef = firebase.storage().ref();
        let database = firebase.database();
        let categoryID = "{{ categoryID | safe }}";

        let categoryPosts = "{{ categoryPosts | safe }}";
        categoryPosts = categoryPosts.replace(/'/g, '"');
        categoryPosts = categoryPosts.replace(/True/g, "true");
        categoryPosts = JSON.parse(categoryPosts);

        

        $("#uploadImgBtn").click(() => {
          $("#imgUploadForm > input").click();
        });

        $("#uploadVidBtn").click(() => {
          $("#vidUploadForm > input").click();
        });

        $("#loaderPercen").show();

        let reader = new FileReader();
        $("#imgUploadForm > input").change(function(evt) {
          if (this.files && this.files[0]) {
            reader.onload = function(e) {
              $("#vidPreview").hide();
              $("#uploadOptionsBtns").hide();
              $("#uploadPreview").show();
              $("#imgPreview").show();
              $("#saveBtn").css("display", "flex");
              $("#uploadedImgPreview").attr("src", e.target.result)
            }
            reader.readAsDataURL(this.files[0]); // convert to base64 string

            selectedImgOrVid = this.files[0];
            isSelectedImg = true;
          }
        });

        $("#vidUploadForm > input").change(function() {
          if (this.files && this.files[0]) {
            reader.onload = function(e) {
              $("#imgPreview").hide();
              $("#uploadOptionsBtns").hide();
              $("#uploadPreview").show();
              $("#vidPreview").show();
              $("#saveBtn").css("display", "flex");
              $("#uploadedVidPreview").attr("src", e.target.result)

              document.getElementById("uploadedVidPreview").onloadedmetadata = function() {
                document.getElementById("uploadedVidPreview").currentTime = 0.5;
                document.getElementById("uploadedVidPreview").setAttribute('preload', "auto");
              };
            }
            reader.readAsDataURL(this.files[0]); // convert to base64 string

            selectedImgOrVid = this.files[0];
            isSelectedImg = false;
          }
        });

        $("#removeSelectedImage").click(() => {
          $("#uploadedImgPreview").removeAttr("src");
          $("#imgPreview").hide();
          $("#uploadPreview").hide();
          $("#imgUploadForm > input").val(null);
          $("#uploadOptionsBtns").show();

          selectedImgOrVid = null;

          if($("#postTxtArea").val().length == 0) {
            $("#saveBtn").hide();
          }

        });

        $("#removeSelectedVideo").click(() => {
          $("#uploadedVidPreview").removeAttr("src");
          $("#vidPreview").hide();
          $("#uploadPreview").hide();
          $("#vidUploadForm > input").val(null);
          $("#uploadOptionsBtns").show();

          selectedImgOrVid = null;

          if($("#postTxtArea").val().length == 0) {
            $("#saveBtn").hide();
          }
        });

        $("#postTxtArea").on("keyup", () => {
          if($("#postTxtArea").val().length > 0) {
            if($("#saveBtn").css("display") == "none") {
              $("#saveBtn").css("display", "flex");
            }
          } else if ($("#postTxtArea").val().length == 0 && $("#uploadPreview").css("display") == "none") {
            $("#saveBtn").hide();
          }
        });

        $("#saveBtn").click(() => {
          $("#loader").css("display", "flex");
          let postKey = selectedPostForEdit == "" ? database.ref().child('content/posts/' + categoryID).push().key : selectedPostForEdit;

          let postType = "";

          if((selectedImgOrVid != null) && ($("#postTxtArea").val().length > 0) && isSelectedImg) {
            postType = "imgTxt";
          } else if((selectedImgOrVid != null) && ($("#postTxtArea").val().length > 0) && !isSelectedImg) {
            postType = "vidTxt";
          } else if((selectedImgOrVid != null) && !isSelectedImg) {
            postType = "vid";
          } else if((selectedImgOrVid != null) && isSelectedImg) {
            postType = "img";
          } else {
            postType = "txt";
          }

          if(postType != "txt") {
            let uploadTask = storageRef.child('content/posts/' + categoryID + '/' + postKey + '.jpg').put(selectedImgOrVid);
            uploadTask.on('state_changed', function(snapshot){
              var progress = ((snapshot.bytesTransferred / snapshot.totalBytes) * 100).toFixed(2);
              $("#loaderPercen").text(progress + '%');

            }, function(error) {
              console.log(error);
              // Handle unsuccessful uploads
            }, function() {
              uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                $.ajax({
                  type: "POST",
                  url: "{% url 'categoryDash' category_id='CATEGORY_ID' %}".replace(/CATEGORY_ID/, categoryID),
                  data: {
                    reqType : "add",
                    key : postKey,
                    type : postType,
                    name : postKey,
                    link : downloadURL,
                    text : $("#postTxtArea").val(),
                    timestamp : (new Date()).getTime(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                  },
                  success: (response) => {
                    if(response.result == "success") {
                      categoryPosts[response.postKey] = response.post;

                      $("#loader").hide();
                      isSelectedImg ? $("#uploadedImgPreview").removeAttr("src") : $("#uploadedVidPreview").removeAttr("src");
                      $("#vidPreview, #imgPreview").hide();
                      $("#uploadPreview").hide();
                      $("#imgUploadForm > input, #vidUploadForm > input").val(null);
                      $("#postTxtArea").val("").show();
                      $("#uploadOptionsBtns").show();
                      $("#saveBtn").hide();
                      selectedImgOrVid = null;

                      populatePostsList(true);
                    } else {
                      alert("Failed to add post!");
                    }
                  },
                  error: (xhr, errmsg, err) => {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                  }
                });
              });
            });
          } else {
            $.ajax({
              type: "POST",
              url: "{% url 'categoryDash' category_id='CATEGORY_ID' %}".replace(/CATEGORY_ID/, categoryID),
              data: {
                reqType : "add",
                key : postKey,
                type : postType,
                name : postKey,
                link : "",
                text : $("#postTxtArea").val(),
                timestamp : (new Date()).getTime(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              success: (response) => {
                if(response.result == "success") {
                  categoryPosts[response.postKey] = response.post;

                  $("#loader").hide();
                  isSelectedImg ? $("#uploadedImgPreview").removeAttr("src") : $("#uploadedVidPreview").removeAttr("src");
                  $("#vidPreview, #imgPreview").hide();
                  $("#uploadPreview").hide();
                  $("#imgUploadForm > input, #vidUploadForm > input").val(null);
                  $("#postTxtArea").val("").show();
                  $("#uploadOptionsBtns").show();
                  $("#saveBtn").hide();
                  selectedImgOrVid = null;

                  populatePostsList();
                } else {
                  alert("Failed to add post!");
                }
              },
              error: (xhr, errmsg, err) => {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
              }
            });
          }
        });

        populatePostsList();

        function populatePostsList(){
          $(".items_sec").html("");

          let postIDs = Object.keys(categoryPosts);
          postIDs.reverse();

          postIDs.forEach((postID) => {
            let post = categoryPosts[postID];

            let item = document.createElement("div");
            item.classList.add("item");

            let itemContent = document.createElement("div");
            itemContent.classList.add("item_content");
            itemContent.setAttribute("data-item-content-post-id", postID);

            if(post.type == "txt") {
              itemContent.innerHTML += "<p>" + post.text + "</p>";
            } else if(post.type == "img") {
              itemContent.innerHTML += "<img src='" + post.link + "' width='40%' />";
            } else if(post.type == "vid") {
              itemContent.innerHTML += "<video src='" + post.link + "#t=0.5'  width='40%' preload='metadata' />";
            } else if(post.type == "imgTxt") {
              itemContent.innerHTML += "<img src='" + post.link + "' width='40%' /><span>" + post.text + "</span>";
            } else if(post.type == "vidTxt") {
              itemContent.innerHTML += "<video src='" + post.link + "#t=0.5'  width='40%' preload='metadata' /><span>" + post.text + "</span>";
            }

            let itemDate = document.createElement("span");
            itemDate.classList.add("item_date");

            let timestamp = new Date(parseInt(post.timestamp));

            itemDate.innerHTML = formatAMPM(timestamp) + "<br>" + timestamp.getDate() + " " + month[timestamp.getMonth()] + ", " + timestamp.getFullYear();

            let itemIcons = document.createElement("div");
            itemIcons.classList.add("item_icons");

            {% comment %} let editBtn = document.createElement("img");
            editBtn.setAttribute("src", "{% static 'img/edit_icon.png' %}");
            editBtn.setAttribute("alt", "edit");

            editBtn.addEventListener("click", () => {
              selectedPostForEdit = postID;
              if(post.type == "txt") {
                $("#postTxtArea").val($("[data-item-content-post-id='" + postID + "'] > p").html());
                $("#saveBtn").css("display", "flex");
              } else if(post.type == "img") {
                $("#vidPreview").hide();
                $("#uploadOptionsBtns").hide();
                $("#postTxtArea").show();
                $("#uploadPreview").show();
                $("#imgPreview").show();

                $("#uploadedImgPreview").attr("src", $("[data-item-content-post-id='" + postID + "'] > img").attr("src"));
              } else if(post.type == "vid") {
                $("#imgPreview").hide();
                $("#uploadOptionsBtns").hide();
                $("#postTxtArea").val("").hide();
                $("#uploadPreview").show();
                $("#vidPreview").show();
                $("#saveBtn").css("display", "flex");
                $("#uploadedVidPreview").attr("src", $("[data-item-content-post-id='" + postID + "'] > video").attr("src"))
              } else if(post.type == "imgTxt") {
                $("#vidPreview").hide();
                $("#uploadOptionsBtns").hide();
                $("#postTxtArea").show();
                $("#uploadPreview").show();
                $("#imgPreview").show();
                $("#saveBtn").css("display", "flex");
                $("#uploadedImgPreview").attr("src", $("[data-item-content-post-id='" + postID + "'] > img").attr("src"));

                $("#postTxtArea").val($("[data-item-content-post-id='" + postID + "'] > span").html());
              }
            }); {% endcomment %}

            let deleteBtn = document.createElement("img");
            deleteBtn.setAttribute("src", "{% static 'img/del_icon.png' %}");
            deleteBtn.setAttribute("alt", "delete");

            deleteBtn.addEventListener("click", () => {
              $("#loader").css("display", "flex");
              $.ajax({
                type: "POST",
                url: "{% url 'categoryDash' category_id='CATEGORY_ID' %}".replace(/CATEGORY_ID/, categoryID),
                data: {
                  reqType : "delete",
                  key : postID,
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: (response) => {
                  $("#loader").hide();
                  if(response.result == "success") {
                    delete categoryPosts[response.postKey];

                    populatePostsList();
                  } else {
                    alert("Failed to add post!");
                  }
                },
                error: (xhr, errmsg, err) => {
                  $("#loader").hide();
                  console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
              });
            });

            {% comment %} itemIcons.appendChild(editBtn); {% endcomment %}
            itemIcons.appendChild(deleteBtn);

            item.appendChild(itemContent);
            item.appendChild(itemDate);
            item.appendChild(itemIcons);

            document.getElementsByClassName("items_sec")[0].appendChild(item);
          });
        }

        function formatAMPM(date) {
          let hours = date.getHours();
          let minutes = date.getMinutes();
          let ampm = hours >= 12 ? 'PM' : 'AM';
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours + ':' + minutes + ' ' + ampm;
          return strTime;
        }

      });
    </script>
  </body>
</html>
