{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'font/stylesheet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/loader.css' %}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-storage.js"></script>
    <script>
      function toCamelCase(str){
        return str.split(' ').map(function(word,index){
          return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
        }).join(' ');
      }

      function categoryDashboard(categoryID, name) {
        $("#dashboardContent").hide();
        $("#transitionLoader").css("display", "flex");
        $(".dashboard_name").text(toCamelCase(name) + " Dashboard");
        $(".header_subtxt").hide();
        $(".dashboard_icon").attr(
          "src",
          "{% static 'img/dashboard_icon.png' %}"
        );
        $(".post_icon").attr("src", "{% static 'img/post_icon_clicked.png' %}");
        $("#dashboardContent").load(
          "{% url 'categoryDash' category_id='CATEGORY_ID' %}".replace(
            /CATEGORY_ID/,
            categoryID
          ), () => {
            $("#transitionLoader").hide();
            $("#dashboardContent").show();
          }
        );
      }

      function showCategorySelectionView() {
        $(".dashboard_name").text("Please select a category:");
        $(".header_subtxt").hide();
        $(".dashboard_icon").attr(
          "src",
          "{% static 'img/dashboard_icon.png' %}"
        );
        $(".post_icon").attr("src", "{% static 'img/post_icon_clicked.png' %}");
        $(".personal_info").hide();
      }

      function myDashboard() {
        $("#dashboardContent").hide();
        $("#transitionLoader").css("display", "flex");
        $(".dashboard_name").text("My Dashboard");
        $(".header_subtxt").show();
        $(".dashboard_icon").attr(
          "src",
          "{% static 'img/dashboard_icon_clicked.png' %}"
        );
        $(".post_icon").attr("src", "{% static 'img/post_icon.png' %}");
        $("#dashboardContent").load("{% url 'myDash' %}", () => {
          $("#transitionLoader").hide();
          $("#dashboardContent").show();
          $(".personal_info").show();
        });
        
      }
    </script>
  </head>
  <body>
    <div id="loader">
      <div>
        <div class="lds-default">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p id="loaderPercen" style="color: white; text-align: center;">
          0%
        </p>
      </div>
    </div>   
    <div id="main">
      <aside id="side_menu_container">
        <div id="side_menu">
          <div>
            <img id="menu_brand" src="{% static 'img/logo.png' %}" alt="Logo" />
          </div>
          <div class="menu_container">
            <div>
              <img
                class="menu_icon dashboard_icon"
                src="{% static 'img/dashboard_icon_clicked.png' %}"
                alt="dashboard"
              />
              <p onclick="myDashboard()" class="menu_item">My Dashboard</p>
            </div>
            <div>
              <img
                class="menu_icon post_icon"
                src="{% static 'img/post_icon.png' %}"
                alt="posts"
              />
              <p onclick="showCategorySelectionView()" class="menu_item">Posts</p>
            </div>
            <div>
              <img
                class="menu_icon"
                src="{% static 'img/signout_icon.png' %}"
                alt="signout"
              />
              <a onclick="location.href='{% url 'logout' %}'" class="menu_item">Sign Out</a>
            </div>
          </div>
        </div>
      </aside>
      <section id="dashboard_sec">
        <header id="header_container">
          <div id="header">
            <div class="header_left">
              <p class="dashboard_name">My Dashboard</p>
              <p class="header_subtxt">Hello, Admin</p>
            </div>
            <div class="header_right">
              <div class="profile_sec">
                <img
                  src="{% static 'img/profile_pic.png' %}"
                  alt="profilePic"
                  style="border-radius: 50%"
                  width="70px"
                />
                <div class="profile_detail">
                  <p class="profile_name">{{ user.name }}</p>
                  <p class="profile_email">{{ user.email }}</p>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div>    
          <div id="transitionLoader">              
            <div class="lds-default">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>              
            </div>
          <div id="dashboardContent"></div>
        </div>
      </section>
    </div>

    <script>
      $(document).ready(() => {
        myDashboard();

        $("#continueBtn").click(() => {
          if ($("#categorySelect").val() != null) {
            $("#selectCategoryModal").hide();
            categoryDashboard($("#categorySelect").val());
          }
        });
      });
    </script>
  </body>
</html>
