{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/loader.css' %}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-storage.js"></script>
    <script>
      function foodDashboard(categoryID) {
        $(".dashboard_name").text("Food Dashboard");
        $(".dashboard_icon").attr(
          "src",
          "{% static 'img/dashboard_icon.png' %}"
        );
        $(".post_icon").attr("src", "{% static 'img/post_icon_clicked.png' %}");
        $("#dashboardContent").load(
          "{% url 'foodDash' category_id='CATEGORY_ID' %}".replace(
            /CATEGORY_ID/,
            categoryID
          )
        );
      }

      function showSelectCategoryModal() {
        $("#selectCategoryModal").show();
      }

      function myDashboard() {
        $(".dashboard_name").text("My Dashboard");
        $(".dashboard_icon").attr(
          "src",
          "{% static 'img/dashboard_icon_clicked.png' %}"
        );
        $(".post_icon").attr("src", "{% static 'img/post_icon.png' %}");
        $("#dashboardContent").load("{% url 'myDash' %}");
      }
    </script>
  </head>
  <body>
    <div id="loader">
      <div>
        <div class="lds-default">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p id="loaderPercen" style="color: white; text-align: center;">
          0%
        </p>
      </div>
    </div>

    <div id="selectCategoryModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal_title">
          <p>Select Category</p>
          <span
            id="selectCategoryClose"
            class="close"
            onclick="$('#selectCategoryModal').hide();"
            ><img src="{% static 'img/delete_circle.png' %}"
          /></span>
        </div>
        <div>
          <div>
            <p class="modal-message">
              Select the category that you want to view.
            </p>

            <div class="container">
              <label for="categorySelect" class="center_vertical"
                ><b>Email</b></label
              >
              <select id="categorySelect" class="center_vertical">
                <option name="default" hidden disabled selected value>
                  -- Select a Category --
                </option>
                <option>ABC</option>
                <option>ABD</option>
                <option>ABE</option>
              </select>
            </div>

            <button id="continueBtn" class="modal_button">
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="main">
      <aside id="side_menu_container">
        <div id="side_menu">
          <div>
            <img id="menu_brand" src="{% static 'img/logo.svg' %}" alt="Logo" />
          </div>
          <div class="menu_container">
            <div>
              <img
                class="menu_icon dashboard_icon"
                src="{% static 'img/dashboard_icon_clicked.png' %}"
                alt="dashboard"
              />
              <p onclick="myDashboard()" class="menu_item">My Dashboard</p>
            </div>
            <div>
              <img
                class="menu_icon post_icon"
                src="{% static 'img/post_icon.png' %}"
                alt="posts"
              />
              <p onclick="showSelectCategoryModal()" class="menu_item">Posts</p>
            </div>
            <div>
              <img
                class="menu_icon"
                src="{% static 'img/signout_icon.png' %}"
                alt="signout"
              />
              <a onclick="location.href='{% url 'logout' %}'" class="menu_item"
                >Sign Out</a
              >
            </div>
          </div>
        </div>
      </aside>
      <section id="dashboard_sec">
        <header id="header_container">
          <div id="header">
            <div class="header_left">
              <p class="dashboard_name">My Dashboard</p>
              <p class="header_subtxt">Hello, Admin</p>
            </div>
            <div class="header_right">
              <div class="profile_sec">
                <img
                  src="{% static 'img/profile_pic.png' %}"
                  alt="profilePic"
                  style="border-radius: 50%"
                  width="70px"
                />
                <div class="profile_detail">
                  <p class="profile_name">{{ user.name }}</p>
                  <p class="profile_email">{{ user.email }}</p>
                </div>
              </div>
              <div>
                <span class="fas fa-bell header_icons"></span>
                <span class="fas fa-envelope header_icons"></span>
              </div>
            </div>
          </div>
        </header>
        <div id="dashboardContent"></div>
      </section>
    </div>

    <script>
      $(document).ready(() => {
        console.log(
          "{% url 'foodDash' category_id='CATEGORY_ID' %}".replace(
            /CATEGORY_ID/,
            $("#categorySelect").val()
          )
        );

        myDashboard();

        $("#continueBtn").click(() => {
          if ($("#categorySelect").val() != null) {
            $("#selectCategoryModal").hide();
            foodDashboard($("#categorySelect").val());
          }
        });
      });
    </script>
  </body>
</html>
